<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.danslab.trader-publisher</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>__PYTHON__</string>
		<string>__CHECKOUT__/paper_grid/publish_vercel.py</string>
		<string>--runtime</string>
		<string>__RUNTIME__</string>
		<string>--state</string>
		<string>__PUBLISHER_STATE__</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>1800</integer>
	<key>WorkingDirectory</key>
	<string>__CHECKOUT__</string>
</dict>
</plist>
