<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.danslab.zmarty-paper48</string>
	<key>ProgramArguments</key>
	<array>
		<string>__PYTHON__</string>
		<string>__CHECKOUT__/paper_grid/server.py</string>
		<string>--runtime</string>
		<string>__RUNTIME__</string>
		<string>--port</string>
		<string>8873</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>30</integer>
	<key>WorkingDirectory</key>
	<string>__CHECKOUT__</string>
</dict>
</plist>
